doctype
html
  head
    title #{title} - Node chat
    link(rel='stylesheet', href='/public/stylesheets/style.css')
  body
    header
      h1 Node.js chat
    .container
      .main-content
        block content
      .sidebar
        p This is the sidebar
    footer
      p Running on node with Express, Jade and Stylus
